[Unit]
Description=WATCHES Fan Controller

[Service]
ExecStart=/home/senior/HVAC/python/fan_controller.py
WorkingDirectory=/home/senior/HVAC/python
Restart=always
User=senior
EnvironmentFile=/home/senior/.pyenv/base/lib/python3.11/sire-packages



[Install]
WantedBy=multi-user.target