[Unit]
Description=WATCHES Server
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecStart=/home/senior/.pyenv/base/bin/python /home/senior/watches/python/watches_server.py
WorkingDirectory=/home/senior/watches/python
Restart=always
User=senior
KillSignal=SIGINT
Environment="DISPLAY=:0"
TimeoutSec=15

[Install]
WantedBy=graphical.target
