[Unit]
Description=WATCHES Fan Controller

[Service]
Type=exec
ExecStart=/usr/bin/python3 -u /home/USERNAME/watches/python/fan_controller.py
WorkingDirectory=/home/USERNAME/watches/python
Restart=always
User=USERNAME
KillSignal=SIGINT
TimeoutSec=15

[Install]
WantedBy=multi-user.target
