[Unit]
Description=WATCHES Fan Controller

[Service]
Type=exec
ExecStart=/home/senior/.pyenv/base/bin/python /home/senior/watches/python/fan_controller.py
WorkingDirectory=/home/senior/watches/python
Restart=always
User=senior
KillSignal=SIGINT
TimeoutSec=15

[Install]
WantedBy=multi-user.target
