[Unit]
Description=WATCHES Fan Controller

[Service]
Type=exec
ExecStart=ExecStart=/home/ger/.pyenv/base/bin/python -m /home/ger/watches/python/fan_controller
WorkingDirectory=/home/ger/watches/python
Restart=always
User=ger
KillSignal=SIGINT
TimeoutSec=15

[Install]
WantedBy=multi-user.target
