[Unit]
Description=WATCHES Sensor Driver

[Service]
Type=exec
ExecStart=/usr/bin/python3 -u /home/senior/watches/python/temp_sensor_interface.py
WorkingDirectory=/home/senior/watches/python
Restart=always
User=senior
KillSignal=SIGINT
TimeoutSec=15
EnvironmentFile=/home/senior/.pyenv/base/lib/python3.11/site-packages

[Install]
WantedBy=multi-user.target
