[Unit]
Description=WATCHES Sensor Driver

[Service]
Type=exec
ExecStart=/home/ger/.pyenv/base/bin/python -m /home/ger/watches/python/temp_sensor_interface
WorkingDirectory=/home/ger/watches/python
Restart=always
User=ger
KillSignal=SIGINT
TimeoutSec=15

[Install]
WantedBy=multi-user.target
