[Unit]
Description=WATCHES Server
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/python3 -u /home/USER/HVAC/python/watches_server.py
WorkingDirectory=/home/USER/HVAC/python
Restart=always
User=
KillSignal=SIGINT
Environment="DISPLAY=:0"
TimeoutSec=15

[Install]
WantedBy=graphical.target
